
  .page-header{
    height: 3em;
    font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #44d5f1, #ff70a6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    
}

.patternsquare{


  --h: 14em;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(var(--n, 7), var(--w, 10em));
  grid-gap: 2em;
  place-content: center;
  margin: auto;
  min-height: 100vh;
  background: rgb(26, 8, 8);
}
.patterns {
    --h: 14em;
    display: grid;
    grid-template-columns: repeat(var(--n, 7), var(--w, 10em));
    grid-gap: 2em;
    place-content: center;
    margin: auto;
    min-height: 100vh;
    background: rgb(255, 255, 255);
  }
  @media (max-width: 99em) {
    body {
      --n: 6;
    }
  }
  @media (max-width: 85em) {
    body {
      --n: 5;
    }
  }
  @media (max-width: 71em) {
    body {
      --n: 4;
    }
  }
  @media (max-width: 57em) {
    body {
      --n: 3;
    }
  }
  @media (max-width: 43em) {
    body {
      --n: 2;
    }
  }
  @media (max-width: 29em) {
    body {
      --n: 1;
    }
  }
  @media (max-width: 15em) {
    body {
      --w: 100%;
      --h: 146.1538461538vw;
    }
  }
  
 .Card {
    overflow: hidden;
    position: relative;
    height: var(--h);
    border-radius: 7px;
    box-shadow: 2px 2px 17px #000;
    background:  #2c2d65;
  }
 .Card:before,.Card:after {
    --p: 0;
    --s: calc(1 - 2 * var(--p));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-mask: var(--m);
    mask: var(--m);
    
    content: "";
  }
 .Card:after {
    --p: 1;
  }
 .Card:nth-child(1):before,.Card:nth-child(1):after {
      
    background: linear-gradient(calc(var(--s) * 45deg), transparent calc(50% - 1px), #38424c 0, #7f98eb calc(50% + 1px), transparent 0) 0 0/19px 19px;
    --m: linear-gradient(red 100%, transparent 50%) 0 calc(var(--p) *600px) / 100%
        200px;
  }
 .Card:nth-child(2):before,.Card:nth-child(2):after {
    --c0: hsla(0, 0%, 0%, var(--p));
    --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
    background: repeating-linear-gradient(calc(var(--s) * 45deg), #6d9eeb 0, #6d9eeb 3px, transparent 0, transparent 13px);
    --m: repeating-radial-gradient(
        circle,
        var(--c0) 0,
        var(--c0) 0.5em,
        var(--c1) 0,
        var(--c1) 1em
    );
  }
 .Card:nth-child(3):before,.Card:nth-child(3):after {
    background: repeating-radial-gradient(circle, #6d9eeb 0, #6d9eeb 1px, transparent 2px, transparent 7px, #6d9eeb 8px) calc(var(--p) *32px) 0/64px 64px;
    --m: linear-gradient(red 100%, transparent 0) 0 calc(var(--p) *32px) /
        100% 64px;
  }
 .Card:nth-child(4):before,.Card:nth-child(4):after {
    background: linear-gradient(calc(var(--s) * 30deg), transparent calc(50% - 1px), #6d9eeb 0, #6d9eeb calc(50% + 1px), transparent 0) 0 0/0.5em 0.5em;
    --m: linear-gradient(red 100%, transparent 0) 0 0 / 4em 4em,
        linear-gradient(90deg, red 10%, transparent 0) calc(var(--p) *2em) 0 / 4em 4em;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
 .Card:nth-child(5):before,.Card:nth-child(5):after {
    background: radial-gradient(circle at calc(var(--p) * 100%) 50%, transparent calc(0.5em - 1px), #6d9eeb 0, #6d9eeb calc(0.5em + 1px), transparent 0) 0 0/1em 1em;
    --m: linear-gradient(red 100%, transparent 50%) 0 calc(var(--p) *1em) / 100%
        2em;
  }
 .Card:nth-child(6):before,.Card:nth-child(6):after {
    --c0: hsla(0, 0%, 0%, var(--p));
    --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
    background: linear-gradient(calc(var(--s) * 150deg), transparent calc(50% - 1px), #6d9eeb 0, #6d9eeb calc(50% + 1px), transparent 0) 50%/0.75em 0.75em;
    --m: repeating-conic-gradient(
        var(--c0) 0%,
        var(--c0) 45deg,
        var(--c1) 0%,
        var(--c1) 90deg
    );
  }
 .Card:nth-child(7):before,.Card:nth-child(7):after {
    --c0: hsla(0, 0%, 0%, var(--p));
    --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
    background: linear-gradient(calc(var(--s) * 45deg), transparent calc(50% - 1px), #6d9eeb 0, #6d9eeb calc(50% + 1px), transparent 0) 50%/1em 1em;
    --m: repeating-conic-gradient(
        var(--c0) 0%,
        var(--c0) 22.5deg,
        var(--c1) 0%,
        var(--c1) 45deg
    );
  }
 .Card:nth-child(8):before,.Card:nth-child(8):after {
    --c0: hsla(0, 0%, 0%, var(--p));
    --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
    background: linear-gradient(calc(var(--p) * 45deg), #6d9eeb 1px, transparent 0, transparent calc(100% - 1px), #6d9eeb 0) 50% 50%/0.35355em 0.35355em;
    --m: repeating-linear-gradient(
            45deg,
            red 0,
            red 2.5em,
            transparent 0,
            transparent 5em
        ),
        repeating-linear-gradient(
            -45deg,
            var(--c0) 0,
            var(--c0) 2.5em,
            var(--c1) 0,
            var(--c1) 5em
        );
  }
 .Card:nth-child(9):before,.Card:nth-child(9):after 
    {
        --c0: hsla(0, 0%, 0%, var(--p));
        --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
        background: linear-gradient(calc(var(--p) * 90deg), #2c2d65 1px, transparent 0, transparent calc(100% - 1px), #ada9e5 0) 50% 50%/0.14142em 0.14142em;
        --m: repeating-linear-gradient(
                90deg,
                rgb(255, 0, 170) 0,
                red 1em,
                transparent 0,
                transparent 2em
            ),
            repeating-linear-gradient(
                -20deg,
                var(--c0) 0,
                var(--c0) 1em,
                var(--c1) 0,
                var(--c1) 2em
            );
            
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
 .Card:nth-child(10):before,.Card:nth-child(10):after {
    --c0: hsla(0, 0%, 0%, var(--p));
    --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
    background: linear-gradient(calc(var(--p) * 90deg), #6d9eeb 1px, transparent 0, transparent calc(100% - 1px), #6d9eeb 0) 50% 50%/0.14142em 0.14142em;
    --m: repeating-linear-gradient(
            45deg,
            red 0,
            red 1em,
            transparent 0,
            transparent 2em
        ),
        repeating-linear-gradient(
            -45deg,
            var(--c0) 0,
            var(--c0) 1em,
            var(--c1) 0,
            var(--c1) 2em
        );
        
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    
  }
 .Card:nth-child(11):before,.Card:nth-child(11):after {
    --c0: hsla(0, 0%, 0%, var(--p));
    --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
    background: linear-gradient(calc(var(--p) * 90deg), #2c2d65 1px, transparent 0, transparent calc(100% - 1px), #ada9e5 0) 50% 50%/0.14142em 0.14142em;
    --m: repeating-linear-gradient(
            90deg,
            rgb(255, 0, 170) 0,
            red 1em,
            transparent 0,
            transparent 2em
        ),
        repeating-linear-gradient(
            -45deg,
            var(--c0) 0,
            var(--c0) 1em,
            var(--c1) 0,
            var(--c1) 2em
        );
        
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
 .Card:nth-child(12):before,.Card:nth-child(12):after {
    background:  #2c2d65;
  background-image:
  linear-gradient(67.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(157.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(67.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(157.5deg, transparent 90%, #6d9eeb 90%),
    
  linear-gradient(22.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(112.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(22.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(112.5deg, transparent 90%, #6d9eeb 90%),
  
  linear-gradient(22.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
  linear-gradient(-22.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
  linear-gradient(112.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
  linear-gradient(-112.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%);
 
  background-size: 20px 20px;
  background-position: 
    -100px 150px, -150px 150px, -150px 100px, -100px 100px,
    -150px 100px, -100px 100px, -100px 150px, -150px 150px,
    0 0, 0 0, 0 0, 0 0;
}


.Card1:nth-child(13):before,.Card:nth-child(13):after {
    
    background:  #033b83;
    background-image:
    linear-gradient(67.5deg, #6d9eeb 10%, transparent 10%),
    linear-gradient(157.5deg, #6d9eeb 10%, transparent 10%),
    linear-gradient(67.5deg, transparent 90%, #6d9eeb 90%),
    linear-gradient(157.5deg, transparent 90%, #6d9eeb 90%),
      
    linear-gradient(22.5deg, #6d9eeb 10%, transparent 10%),
    linear-gradient(112.5deg, #6d9eeb 10%, transparent 10%),
    linear-gradient(22.5deg, transparent 90%, #6d9eeb 90%),
    linear-gradient(112.5deg, transparent 90%, #6d9eeb 90%),
    
    linear-gradient(22.5deg, transparent 63%, #d5d8dc 6%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-22.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(112.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-112.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 36%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%);
   
    background-size: 15px 15px;
    background-position: 
      -100px 150px, -150px 150px, -150px 100px, -100px 100px,
      -150px 100px, -100px 100px, -100px 150px, -150px 150px,
      1 1, 5 5, 2 2, 2 5;
  }

 .Card:nth-child(14):before,.Card:nth-child(14):after {
    
    background:  #2c2d65;
    background-image:
    linear-gradient(67.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(157.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(67.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(157.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(22.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(112.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(22.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(112.5deg, transparent 90%, #6d9eeb 90%);
  
    
    background-size: 20px 20px;
    background-position: 
      -100px 150px, -150px 150px, -150px 100px, -100px 100px,
      -150px 100px, -100px 100px, -100px 150px, -150px 150px,
      0 0, 0 0, 0 0, 0 0;
  }

 .Card:nth-child(15):before,.Card:nth-child(15):after {
    
    background:  #2c2d65;
    background-image:
    linear-gradient(67.5deg, #6d9eeb 10%, transparent 10%),
    linear-gradient(157.5deg, #6d9eeb 10%, transparent 10%),
    linear-gradient(67.5deg, transparent 90%, #6d9eeb 90%),
    linear-gradient(157.5deg, transparent 90%, #6d9eeb 90%),
      
    linear-gradient(22.5deg, transparent 63%, #d5d8dc 6%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-22.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(112.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-112.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 36%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%);
   
    background-size: 20px 20px;
    background-position: 
      -100px 150px, -150px 150px, -150px 100px, -100px 100px,
      -150px 100px, -100px 100px, -100px 150px, -150px 150px,
      0 0, 0 0, 0 0, 0 0;
  }

 .Card:nth-child(16):before,.Card:nth-child(16):after {
    background:  #2c2d65;
  background-image:
  linear-gradient(22.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(112.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(22.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(112.5deg, transparent 90%, #6d9eeb 90%),
    
  linear-gradient(67.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(157.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(67.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(157.5deg, transparent 90%, #6d9eeb 90%),
  
  linear-gradient(22.5deg, transparent 63%, #d5d8dc 6%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-22.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(112.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 16%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
    linear-gradient(-112.5deg, transparent 63%, #d5d8dc 60%, #d5d8dc 60%, transparent 36%, transparent 84%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%);
   
  background-size: 15px 15px;
  background-position: 
    -100px 150px, -150px 150px, -150px 100px, -100px 100px,
    -150px 100px, -100px 100px, -100px 150px, -150px 150px,
    0 0, 0 0, 0 0, 0 0;
}
.Card1:nth-child(17):before,.Card:nth-child(17):after {
  --c0: hsla(0, 0%, 0%, var(--p));
  --c1: hsla(0, 0%, 0%, calc(5 - var(--p)));
  background: linear-gradient(calc(var(--s) * 45deg), transparent calc(50% - 1px), #6d9eeb 0, #6d9eeb calc(50% + 5px), transparent 0) 50%/1em 1em;
  --m: repeating-conic-gradient(
      var(--c0) 0%,
      var(--c0) 1.5deg,
      var(--c1) 0%,
      var(--c1) 1deg
  );
}

card:nth-child(18):before,.Card:nth-child(18):after {
  --c0: hsla(0, 0%, 0%, var(--p));
  --c1: hsla(0, 0%, 0%, calc(1 - var(--p)));
  background: linear-gradient(calc(var(--p) * 90deg), #2c2d65 1px, transparent 0, transparent calc(100% - 7px), #ada9e5 0) 90% 50%/0.14142em 0.14142em;
  --m: repeating-linear-gradient(
          90deg,
          rgb(255, 0, 170) 0,
          red 1em,
          transparent 0,
          transparent 2em
      ),
      repeating-linear-gradient(
          0deg,
          var(--c0) 1em,
          var(--c0) 1em,
          var(--c1) 2em,
          var(--c1) 3em
      );
      
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
  
.Card1:nth-child(19):before,.Card:nth-child(19):after {
  background: repeating-radial-gradient(circle, #6d9eeb 0, #6d9eeb 1px, transparent 2px, transparent 7px, #6d9eeb 8px) calc(var(--p) *32px) 0/25px 110px;
  --m: linear-gradient(red 100%, transparent 0) 0 calc(var(--p) *32px) /
      100% 64px;
}

.Card1:nth-child(20):before,.Card:nth-child(20):after {
  background:  #2c2d65;
  background-image:

    
  linear-gradient(22.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(112.5deg, #6d9eeb 10%, transparent 10%),
  linear-gradient(22.5deg, transparent 90%, #6d9eeb 90%),
  linear-gradient(112.5deg, transparent 90%, #6d9eeb 90%),
  
  linear-gradient(25deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
  linear-gradient(-29.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
  linear-gradient(118.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%),
  linear-gradient(-119.5deg, transparent 33%, #d5d8dc 33%, #d5d8dc 36%, transparent 36%, transparent 64%, #d5d8dc 64%, #d5d8dc 67%, transparent 67%);
 
  background-size: 50px 50px;
  background-position: 
    -100px 150px, -150px 150px, -150px 100px, -100px 100px,
    -150px 100px, -100px 100px, -100px 150px, -150px 150px,
     0, 0 0, 0 0, 0 0;
}