body {
    padding: 0;
    margin: 0;
  }
  
  .scope {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .spotlight {
   
    align-items: center;
  }
  .Kaleidoscope {
    position: relative;
   
    z-index: 0;
    overflow: hidden;
    height: 50%;
    width: 50%;
   
    
  }
  
  @keyframes move {
    0% {
      background-position: 13% 15%;
    }
    33% {
      background-position: 33% 25%;
    }
    66% {
      background-position: 43% 25%;
    }
    100% {
      background-position: 56% 25%;
    }
  }
  